.icon-arrow-right:before {
  content: "\e909";
}
.icon-close:before {
  content: "\e908";
}
.icon-arrow-down:before {
  content: "\e900";
}
.icon-arrow-squares:before {
  content: "\e901";
}
.icon-arrow-squares2:before {
  content: "\e902";
}
.icon-ico:before {
  content: "\e903";
}
.icon-lens:before {
  content: "\e904";
}
.icon-pdf:before {
  content: "\e905";
}
.icon-square:before {
  content: "\e906";
}
.icon-word:before {
  content: "\e907";
}
