.o-list {
	@extend %clear;

	&--float {

		@media screen and ( max-width: $tablet_portrait + px ) {
			display: flex;
			flex-wrap: wrap;
		}

		@media screen and ( max-width: $smartphone_portrait + px ) {
		    justify-content: space-between;
		}

		li {
			margin-bottom: 20px;
			
			@media screen and ( min-width: $tablet_portrait + 1px ) {
				float: left;
			}
			
			&:last-child {
				margin-right: 0;
			}
		}
	}
	
	&--colors {
		padding-top: 15px;

		img {
			margin-bottom: 5px;
		}		

		li {
			width: 122px;
			margin-right: 10px;

			@media screen and ( min-width: $tablet_portrait + 1px ) {
				width: grid(122, $product_info);
				margin-right: grid(10, $product_info);
				
				&:nth-child(7n) {
					clear: left;
				}
			}			
		}
	}
	
	&--files {
		padding-top: 15px;
		
		dt, dd {
			text-transform: uppercase;
		}

		dt {
			font-weight: $semibold;
		}
		
		dd {
			font-size: em(14);
			color: $c-gray--darkest;
		}

		li {
			
			float: left;
			width: 290px;
			margin-bottom: 40px;
		}
		
		i {
			margin-right: 20px;
			font-size: em(40);
			color: $c-red--brighter;
		}
		
		a {
			display: flex;

			&:hover {
				color: $c-red;
			}
		}
	}
	
	&--gallery {
		
		li {
			width: 190px;
			margin-right: 10px;

			@media screen and ( min-width: $tablet_portrait + 1px ) {
				width: grid(190, $product_info);
				margin-right: grid(10, $product_info);
				
				&:nth-child(4n+1) {
					clear: left;
				}
			}
			
			@media screen and ( min-width: $smartphone + 1px ) and ( max-width: $tablet_portrait + px ){
				width: grid(190, $tablet_portrait - 40);
				
				&:nth-child(3n) {
					margin-right: 0;
				}
			}
			
			@media screen and ( max-width: $smartphone + px ) {
				width: 48%;
				margin-right: 0;
				
				&:nth-child(odd) {
					margin-right: 2%;
				}
			}		
		}
		
		.photo {
			@extend %red-apla;
		}

		a {
			&:hover {
				.photo {
					@extend %red-apla--hover;
				}
			}
		}
	}

	&--properities {
		text-transform: uppercase;
		font-weight: $bold;
		
		li {
			margin-right: 50px;
			text-align: center;
		}
	}
}
