.c-area {
	
	color: $c-gray--darkest;
	
	@media screen and ( min-width: $tablet_portrait + 1px ) {
		padding-left: grid(70);
	}
	
	p {
		margin-bottom: 2.5em;
	}
	
	strong {
		font-weight: $semibold;
	}
	
	.o-header {
		color: $c-black;
	}
	
	&__buttons {
		@extend %clear;
		margin-bottom: 100px;
		
		@media screen and ( max-width: $smartphone + px ) {
			margin-bottom: 50px;
		}
		
		li {
			float: left;
			margin-right: grid(30);
			
			&:first-child a {
				border-color: $c-red;
				color: $c-red;
				
				&:hover {
					background-color: $c-red;
					color: white;
				}
			}			
			
			&:nth-child(2) a {
				border-color: $c-orange;
				color: $c-orange;
				
				&:hover {
					background-color: $c-orange ;
					color: white;
				}
			}
			
			&:nth-child(3) a{
				border-color: $c-violet;
				color: $c-violet;
				
				&:hover {
					background-color: $c-violet;
					color: white;
				}
			}
			
			&:nth-child(4) a{
				border-color: $c-blue;
				color: $c-blue;
				
				&:hover {
					background-color: $c-blue;
					color: white;
				}
			}
			
			&.is-active {
				&:first-child a {
					background-color: $c-red;
					color: white;
				}
				
				&:nth-child(2) a {
					background-color: $c-orange ;
					color: white;
				}
				
				&:nth-child(3) a {
					background-color: $c-violet;
					color: white;
				}
				
				&:nth-child(4) a {
					background-color: $c-blue;
					color: white;
				}
			}
		}
		
		&.anim {
			transform: translateX(-100px);
			opacity: 0;
			
			&--loaded {
				transform: translateX(0);
				opacity: 1;
			}
		}
		
		.o-btn {
			//padding: 0 grid(50);
			font-size: em(18);
			
			@media screen and ( max-width: $tablet + px ) {
				padding: 0 25px;
			}
			
			@media screen and ( max-width: $smartphone + px ) {
				padding: 0 15px;
				font-size: em(14);
			}
			
			@media screen and ( max-width: $smartphone_portrait + px ) {
				padding: 0 8px;
				font-size: em(12);
			}
		}
	}
	
	&__image {
		@media screen and ( min-width: $tablet_portrait + 1px ) {
			float: right;
			width: grid(670, $base - 70);
		}
	}
	
	&__description {
		@extend %anim-slow;
		
		opacity: 0;
		
		@media screen and ( min-width: $tablet + 1px ) {
			padding-top: 90px;
		}
		
		@media screen and ( min-width: $tablet_portrait + 1px ) {
			float: left;
			transform: translateY(50px);
			width: grid(430, $base - 70);
		}
		
		.active & {
			transform: translateY(0);
			opacity: 1;
		}
	}
}
