.c-contact {
	@extend %clear;
	color: $c-gray--darkest;
	
	article {
		margin-bottom: 40px;
		
		a {
			text-decoration: underline;
			color: $c-red--brighter;
			
			&:hover {
				text-decoration: none;
			}
		}
		
		p {
			margin-bottom: 1.1em;
			font-size: em(14);		
		}
	}

	h5 {
		margin-bottom: 1.1em;
		font: {
			weight: $semibold;
			size: em(18);
		}
	}	
	
	strong {
		font-weight: $semibold;
		color: $c-black;
	}

	&__col {
		
		@media screen and ( min-width: $tablet_portrait + 1px ) {
			&--left {
				width: grid(600);
				float: left;
			}
			
			&--right {
				width: grid(500);
				float: right;
			}
		}
		
		&--left {
			
			@media screen and ( max-width: $tablet_portrait + px ) {
				margin-bottom: 40px;
			}
			
		}		
	}	
	
	.o-btn--red {
	
		@media screen and ( max-width: $tablet + px ) {
			display: block;
			width: 100%;
			margin-top: 20px;
		}
		
	}
}
