.c-gotop {
	position: fixed;
	bottom: 100px;
	width: 67px;
	height: 67px;
	background-color: white;
	font-size: em(36);
	color: $c-red--brighter;
	display: none;
	
	&.is-visible {
		display: block;
		animation: fadeInFromNone 400ms ease-out;
	}
	
	@media screen and ( min-width: $base + px ) {
		left: calc(100% - 100px);
	}
	
	@media screen and ( max-width: 1400px ) {
		display: none !important;
	}

	&:before {
		display: block;
		transform: rotate(-90deg);
	}
	
	&:hover {
		transform: translateY(-5px);
	}
}