.c-nav {

	> ul > li {
		padding: 0 30px;
	
		@media screen and ( min-width: $tablet + 1px ) {
			float: left;
		}

		> a {
			@extend %anim;
			@extend %rel;
			font-weight: $semibold;
			
			&:after {
				@extend %anim;
			}

			&:hover {
				color: $c-red;		
			}
		}

		&.current-menu-item,
		&.is-active {
			> a {					
				&:before {
					opacity: 1;
				}
			}
		}

		&.menu-item-has-children {
			> a {
				.c-top & {
					&:after {						
						@extend %icomoon;
						display: inline-block;
						margin-left: 8px;
						font-size: em(12);
						content: "\e900";

						@media screen and ( max-width: $tablet + px ) {
							display: none;
						}
					}
				}
			}
			
			@media screen and ( min-width: $tablet + 1px ) {
			
				&:hover {
					
					> a {
						color: $c-red;
					}
	
					.sub-menu {
						display: block;
						animation: fadeInFromNone 300ms;
					}			
				}
			}
		}
	}
	
	.c-top & {
		@extend %anim;
		padding-top: 10px;
		
		@media screen and ( max-width: $tablet + px ) {
			position: fixed;
			left: -100%; top: calc(100% - 120px); z-index: 50;
			width: 100%; height: 100vh;
			background-color: white;
			
			&.is-visible {
				left: 0;
			}
		}

		> ul {
			@media screen and ( max-width: $tablet + px ) {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				flex-direction: column;
				height: 100%;
				justify-content: center;
			}
		
			> li {
				display: flex;
				align-items: center;
				
				@media screen and ( min-width: $tablet + 1px ) {
					height: 120px;
				}
			}
		}
		
		a {
			text-transform: uppercase;
			font-size: em(15);
			
			@media screen and ( max-width: $tablet + px ) {
				margin: 20px;
				font-size: em(24);
			}

			&:before {
				@extend %abs-after;
				@extend %anim-slow;
				left: 50%;
				bottom: -14px;
				transform: translateX(-50%);
				width: 60%; height: 1px;
				background-color: $c-red;
				opacity: 0;
			}
		}
	}
	
	.c-footer & {
		
		> ul > li {			
		
			@media screen and ( min-width: $tablet + 1px ) {
				display: flex;
				align-items: center;
				height: 130px;
				padding: 0 20px;
			}
			
			@media screen and ( max-width: $tablet + px ) {
				margin-bottom: 30px;
			}

			&:last-child {
				padding-right: 0;
			}

			> a {
				@extend %rel;
				font-size: em(16);
				color: white;
	
				&:before {
					@extend %icomoon;
					margin-right: 8px;
					font-size: em(12);
					content: "\e906";
					color: $c-red;
				}
				
				&:hover {
					color: $c-red;		
				}
			}
		}
		
		
	}
}

