.c-nav-details {
	@extend %anim;
	@extend %clear;
	position: relative; top: 0;
	background-color: white;
	margin-bottom: 70px;
	
	&.is-dimmed {
		opacity: .2;
	}
	
	&.is-fixed {
		
		@media screen and ( min-width: $tablet_portrait + 1px ) {
			position: fixed; 
			z-index: 10;
			top: 120px;
			width: calc(100% - 40px);
			left: 20px;
			animation: fadeInFromNone3 1s ease-out;
		}
		
		@media screen and ( min-width: $base + px ) {
			width: $base + px;
			left: calc( (100% - 1170px)/2 );
		}
	}

	@media screen and ( min-width: $tablet_portrait + 1px ) {
		border-bottom: 1px solid #dedee2;
	}

	@media screen and ( max-width: $tablet_portrait + px ) {
		margin: {
			left: -20px;
			right: -20px;
			bottom: 30px;
		}
		width: calc(100% + 40px);
	}

	ul {
		@media screen and ( min-width: $tablet_portrait + 1px ) {
			display: flex;
		}
	}

	li {
		@extend %anim;
		padding: 22px grid(30);
		
		@media screen and ( min-width: $tablet_portrait + 1px ) {
			width: grid(234);
			font-size: em(18);
		}
		
		@media screen and ( max-width: $tablet_portrait + px ) {
			border-bottom: 1px solid #dedee2;
		}

		&:not(:last-child) {
			@media screen and ( min-width: $tablet_portrait + 1px ) {
				border-right: 1px solid #dedee2;
			}			
		}		

		&:first-child {
			text-align: right;
			color: $c-gray--brighter;
			
			@media screen and ( max-width: $tablet_portrait + px ) {
				display: none;
			}
		}
		
		&.is-active {
			box-shadow: 0 3px 0 0 $c-red--brighter, rgba(black, .1) 0 8px 15px;
			color: $c-red;
			
			@media screen and ( max-width: $tablet_portrait + px ) {
				box-shadow: 0 3px 0 0 $c-red--brighter, rgba(black, .1) 0 12px 15px;
			}
		}
		
		&:hover {
			&:not(:first-child) {
				cursor: pointer;
			}
		}
	}

	
}