.c-nav-products {
	border-right: 1px solid #e6e8e9;

	@media screen and ( min-width: $tablet_portrait + 1px ) {
		float: left;
		width: grid(250);
		text-align: right;
	}
	

	a {	
		font-weight: $semibold;
		font-size: em(14);
		color: $c-gray--darkest;

		&:hover {
			color: $c-red;
		}
	}
	
	.current-post-ancestor {
		> ul {
			display: block;
		}
	}
	
	.current-post-parent {
	
		.current-menu-item {

			> a {
				color: $c-red;
			}
			
			&:after {
				@extend %abs-after;
				right: -37px; top: 2px;
				width: 3px; height: 100%;
				background-color: $c-red;
				
				@media screen and ( max-width: $base + px ) {
					right: grid(-37, 215);
				}
			}
		}
	}
	
	.menu-item {
		position: relative;
	}
	
	li {
		margin-bottom: 5px;
	}

	> ul {

		> li {
			margin-bottom: 15px;
			padding-right: grid(35, 250);

			> a {
				text-transform: uppercase;
				font: {
					size: em(16);
					weight: $bold;
				}
				color: #0e1c2c;
			}

			&.is-active {
				> ul {
					display: block;
				}
			}

			ul {
				display: none;
				padding-top: 10px;
				
			}

			> ul {				
				padding-bottom: 10px;
				
				@media screen and ( max-width: $tablet_portrait + px ) {
					padding-left: 20px;
				}

				> li {
					margin-bottom: 5px;
					
					
					
					a {
						&:after {
							content: ' -';
						}
					}
					
					> a {
						font: {
							weight: $semibold;
							size: em(14);
						}
						color: $c-gray--darkest;
					}


					> ul {

						> li {
							&.current-menu-item {
								@extend %rel;
								color: $c-red--brighter;								
							
								&:after {
									@extend %abs-after;
									right: -37px; top: 2px;
									width: 3px; height: 100%;
									background-color: $c-red;
									
									@media screen and ( max-width: $base + px ) {
										right: grid(-37, 250);
									}
									
								}
							}
						}
					}
					
					&.current-menu-item {
					
					
						> ul {
							display: block;
						}
					}
					
				}
			}
			
			&.menu-item-has-children {
				
				
				> ul {
					> li {
						&.menu-item-has-children {
							margin-bottom: 10px;
							
							> a {
								padding: 2px 0;
								text-transform: uppercase;
								font: {
									weight: $bold;
									size: em(14);
								}
								color: $c-black;
								
								&:after {
									display: none;
								}
							}
						}
						
						
					
						
					}
				}
			}
		}
	}
}