.c-nav-secondary {
	margin-right: 5px;
	
	li {
		float: left;
		padding: 0 15px;
		
		&.mapsite {
			@media screen and ( max-width: $smartphone + px ) {
				display: none;
			}
			
		}
	}

	a {
		font-size: em(12);
		color: $c-gray;
		
		&:hover {
			color: $c-red;
		}
	}
}