.c-product {

	h2 {
		margin-bottom: 35px;
		text-transform: uppercase;
		font-size: em(16);
		font-weight: $semibold;
	}
	
	&__info {

		@media screen and ( min-width: $tablet_portrait + 1px ) {
			float: right;
			width: grid($product_info);		
		}
		
		h4 {
			margin-bottom: 1.2em;
			text-transform: uppercase;
			font: {
				size: em(24);
				weight: $semibold;
			}
		}
	}

	&__properities {
		h4 {
			text-transform: uppercase;
		}
	}

	.c-contactbar {
		margin-bottom: 60px;
	}

	> .o-header {
		@media screen and ( min-width: $tablet_portrait + 1px ) {
			float: right;
			width: grid(870);
		}
	}
	
	.o-list {
		margin-bottom: 40px;
		
		.title {
			font-size: em(14);
			color: $c-gray--darkest;
		}		
	}
}

