.c-slider {
	@extend %rel;
	z-index: 1;
	overflow: hidden;
	will-change: top, left;

	&--home {
		//height: 519px;
		border-bottom: 1px solid #dedee2;
		
		.item {
			height: 519px;
			background: {
				size: cover;
				position: center;
			}
		}
	}
	
	&__text {
		@extend %abs; z-index: 9;
		width: 100%; height: 100%;
		
		article {
			@extend %abs-y;
			width: calc(100% - 20px);
			padding-bottom: 120px;
			padding-left: grid(200);
			
			@media screen and ( max-width: $tablet_portrait + px ) {
				padding-left: 40px;
			}

			i {
				@extend %abs;
				left: grid(145, $base);
				top: 10px;
				font-size: 28px;
				color: $c-red;
				
				@media screen and ( max-width: $tablet_portrait + px ) {
					display: none;
				}
				
			}
			
			img {
				width: auto !important;
			}

			p {
				margin-bottom: 1em;
				font-size: em(30);
				color: white;
				
				@media screen and ( max-width: $tablet + px ) {
					line-height: 1.3;
				}

				& + p {
					@media screen and ( max-width: $tablet + px ) {
						font-size: em(16);
					}
				}
			}
			
			.signature {
				display: inline-block;
			    vertical-align: top;
			    margin-left: 30px;
			    
			    @media screen and ( max-width: $tablet + px ) {
					display: none;
				}
			}
		}
	}
	
	&__content {
		@extend %rel;
		@extend %anim-slow;
		opacity: 0;
	}
	
	&__tabs {
		@extend %abs;
		z-index: 10;
		left: 0; bottom: 0;
		width: 100%;
		height: 120px;		

		li {
			@extend %anim;
			
			height: 130px;
			background-color: white;
			padding: 15px 30px;
			border-right: 1px solid rgba(black, .2);
			line-height: 1.25;
			cursor: pointer;
			color: $c-black--brightest;
			
			@media screen and ( min-width: $tablet_portrait + 1px ) {
				float: left;
				width: grid(234, 1170);
			}
			
			@media screen and ( max-width: $tablet_portrait + px ) {
				display: none;
				padding-left: 20px;
			}
			
			&:last-child {
				border: none;
			}
			
			.desktop & {
				&:hover {
					transform: translateY(-10px);
				}
			}
			
			.num {
				margin-bottom: 10px;
				opacity: .3;
				font: {
					family: $serif;
					size: em(24);
					style: italic;
				}
				
			}
			
			.title {
				text-transform: uppercase;
				font-weight: $semibold;

				&--big {
					font-size: em(18);
				}
				
				&--small {
					font-size: em(13);
					
					
					@media screen and ( min-width: $tablet_portrait + 1px ) {
						color: $c-gray--brighter;
					}
				}
			}
			
			&.is-active {
				display: block;
				background-color: $c-red;
				color: white;

				@media screen and ( min-width: $tablet_portrait + 1px ) {
					
					.num {
						opacity: 1;
					}
				}
				
				.title {
					&--small {
						@media screen and ( min-width: $tablet_portrait + 1px ) {
							color: $c-red--brightest;
						}
					}
				}
			}
		}

	}
	
	.o-wrap {
		@media screen and ( max-width: $tablet + px ) {
			padding: {
				left: 0;
				right: 0;
			}
		}
	}
}

