// Colors

$c-black--brightest:	#1c252c;
$c-black--brighter:		#0c1c2b;
$c-black:				#001926;

$c-blue:				#9bd6f8;

$c-gray--brightest:		#f3f4f5;
$c-gray--brighter:		#a2aab0;
$c-gray:				#9a9aa2;
$c-gray--darker:		#8a96a2;
$c-gray--darkest:		#86939e;

$c-orange:				#ffa080;

$c-red:					#e63c2e;
$c-red--brighter:		#e83c30;
$c-red--brightest:		#f0a6a0;

$c-violet:				#cc74d1;