// Fonts

$serif:			'Droid Serif', serif;

$text:			'Open Sans', sans-serif;


// Font weights

$light:				300;
$regular:			400;
$semibold:			600;
$bold:				700;


// Default

$base-font-size:	16;
$base:				1170;


// Width

//$base:				1280px;
//$project:			1920;

$tablet:				1024;
$tablet_portrait:		768;
$smartphone:			568;
$smartphone_portrait:	375;