// Fonts

$serif:			'Droid Serif', serif;

$text:			'Open Sans', sans-serif;


// Font weights

$light:				300;
$regular:			400;
$semibold:			600;
$bold:				700;


// Default

$base-font-size:	16;
$base:				1170;


// Width
$product_info:		 870;



$tablet:				1024;
$tablet_portrait:		768;
$smartphone:			640;
$smartphone_portrait:	375;